<footer class="cb__footer" data-id="type-1" itemscope="" itemtype="https://schema.org/WPFooter">
	<div data-row="middle">
		<div class="cb__container" data-stack="tablet:mobile">
			<div data-column="widget-area-1">
				<section id="media_image-1" class="widget hide_widget_title widget_media_image"><img width="4961" height="1894" src="wp-content/uploads/2022/07/iiap-final-01.png" class="image wp-image-2071  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" sizes="(max-width: 4961px) 100vw, 4961px"/></section>
				<section id="text-1" class="widget hide_widget_title widget_text">
					<div class="textwidget entry-content">
						<p>L’IIAP dispense une formation qui se distingue par sa richesse, son originalité et son réalisme</p>
					</div>
				</section>
			</div>
			<div data-column="contacts">
				<div class="cb__contact-info cb__footer-contact-info" data-id="contacts">
					<ul data-icons-type="simple">
						<li>
							<span class="cb__icon-container">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.683" viewbox="0 0 20 12.683"><path id="Path_26505" data-name="Path 26505" d="M10.463,976.362a1.465,1.465,0,0,0-.541.107l8.491,7.226a.825.825,0,0,0,1.159,0l8.5-7.233a1.469,1.469,0,0,0-.534-.1H10.463Zm-1.448,1.25a1.511,1.511,0,0,0-.015.213v9.756a1.46,1.46,0,0,0,1.463,1.463H27.537A1.46,1.46,0,0,0,29,987.581v-9.756a1.51,1.51,0,0,0-.015-.213l-8.46,7.2a2.376,2.376,0,0,1-3.064,0Z" transform="translate(-9 -976.362)"/></svg>
							</span>

							<div class="contact-info">

								<span class="contact-text">
									<a href="administration%40iiap.html">

										administration@iiap.education
									</a>
								</span>
							</div>
						</li>
						<li>
							<span class="cb__icon-container">
								<svg xmlns="http://www.w3.org/2000/svg" width="18.823" height="19.788" viewbox="0 0 18.823 19.788"><path id="Phone" d="M15.925,19.741a8.537,8.537,0,0,1-3.747-1.51,20.942,20.942,0,0,1-3.524-3.094,51.918,51.918,0,0,1-3.759-4.28A13.13,13.13,0,0,1,2.75,6.867a6.3,6.3,0,0,1-.233-2.914,5.144,5.144,0,0,1,1.66-2.906A7.085,7.085,0,0,1,5.306.221,1.454,1.454,0,0,1,6.9.246a5.738,5.738,0,0,1,2.443,2.93,1.06,1.06,0,0,1-.117,1.072c-.283.382-.578.754-.863,1.136-.251.338-.512.671-.736,1.027a.946.946,0,0,0,.01,1.108c.564.791,1.11,1.607,1.723,2.36a30.024,30.024,0,0,0,3.672,3.8c.3.255.615.481.932.712a.892.892,0,0,0,.96.087,10.79,10.79,0,0,0,.989-.554c.443-.283.878-.574,1.314-.853a1.155,1.155,0,0,1,1.207-.024,5.876,5.876,0,0,1,2.612,2.572,1.583,1.583,0,0,1-.142,1.795,5.431,5.431,0,0,1-4.353,2.362A6.181,6.181,0,0,1,15.925,19.741Z" transform="translate(-2.441 0.006)"/></svg>
							</span>

							<div class="contact-info">

								<span class="contact-text">
									<a href="tel: +261 34 77 777 35">

										+261 34 77 777 35
									</a>
								</span>
							</div>
						</li>
					</ul>

				</div>
			</div>
			<div data-column="socials">
				<div class="cb__footer-socials" data-id="socials">


					<div class="cb__social-box" data-icon-size="custom" data-color="custom" data-icons-type="rounded:outline">


						<a href="#" target="_blank" rel="" data-network="facebook" aria-label="Facebook">

							<span class="cb__icon-container">

								<svg class="rt-icon" width="20" height="20" viewbox="0 0 24 24">
									<path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/>
								</svg>
							</span>

							<span class="cb__label">Facebook</span>
						</a>

						<a href="#" target="_blank" rel="" data-network="twitter" aria-label="Twitter">

							<span class="cb__icon-container">

								<svg class="rt-icon" width="20" height="20" viewbox="0 0 20 20">
									<path d="M20,3.8c-0.7,0.3-1.5,0.5-2.4,0.6c0.8-0.5,1.5-1.3,1.8-2.3c-0.8,0.5-1.7,0.8-2.6,1c-0.7-0.8-1.8-1.3-3-1.3c-2.3,0-4.1,1.8-4.1,4.1c0,0.3,0,0.6,0.1,0.9C6.4,6.7,3.4,5.1,1.4,2.6C1,3.2,0.8,3.9,0.8,4.7c0,1.4,0.7,2.7,1.8,3.4C2,8.1,1.4,7.9,0.8,7.6c0,0,0,0,0,0.1c0,2,1.4,3.6,3.3,4c-0.3,0.1-0.7,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1c0.5,1.6,2,2.8,3.8,2.8c-1.4,1.1-3.2,1.8-5.1,1.8c-0.3,0-0.7,0-1-0.1c1.8,1.2,4,1.8,6.3,1.8c7.5,0,11.7-6.3,11.7-11.7c0-0.2,0-0.4,0-0.5C18.8,5.3,19.4,4.6,20,3.8z"/>
								</svg>
							</span>

							<span class="cb__label">Twitter</span>
						</a>

						<a href="#" target="_blank" rel="" data-network="instagram" aria-label="Instagram">

							<span class="cb__icon-container">

								<svg class="rt-icon" width="20" height="20" viewbox="0 0 511 511.9">
									<path d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0"/><path d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0"/><path d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0"/>
								</svg>
							</span>

							<span class="cb__label">Instagram</span>
						</a>

						<a href="#" target="_blank" rel="" data-network="linkedin" aria-label="LinkedIn">

							<span class="cb__icon-container">

								<svg class="rt-icon" width="20" height="20" viewbox="0 0 24 24">
									<path d="m23.994 24v-.001h.006v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07v-2.185h-4.773v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243v7.801z"/><path d="m.396 7.977h4.976v16.023h-4.976z"/><path d="m2.882 0c-1.591 0-2.882 1.291-2.882 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909c-.001-1.591-1.292-2.882-2.882-2.882z"/>
								</svg>
							</span>

							<span class="cb__label">LinkedIn</span>
						</a>


					</div>

				</div>
			</div>
		</div>
	</div>
	<div data-row="bottom">
		<div class="cb__container">
			<div data-column="copyright">
				<div class="cb__footer-copyright" data-id="copyright">
					Copyright ©2022 IIAP by Gate Company</div>
			</div>
		</div>
	</div>
</footer></div><!-- #page --><div class="to_top " data-button-type="type-1" data-icon-shape="circle" data-button-alignment="right" data-scroll-style="filled">
<span class="icon-arrow-up-line">
	<svg xmlns="http://www.w3.org/2000/svg" width="15.666" height="18.898" viewbox="0 0 15.666 18.898">
		<g id="Group_5608" data-name="Group 5608" transform="translate(-1264.471 -499.965)">
			<path id="Path_26460" data-name="Path 26460" d="M-12476,4373.384l6.419-6.419,6.419,6.419" transform="translate(13741.885 -3866)"></path>
			<path id="Path_26461" data-name="Path 26461" d="M-12469.8,4367.851v15.98" transform="translate(13742.106 -3865.969)"></path>
		</g>
	</svg>
</span></div></body></html></div><div class="cb__drawer-canvas"></div><link rel='stylesheet' id='e-animations-css' href='wp-content/plugins/elementor/assets/lib/animations/animations.mina4f3.css?ver=3.6.8' media='all'/><script src='wp-content/plugins/mega-elements-addons-for-elementor/assets/frontend/js/owl.carouselcfa9.js?ver=1.1.2' id='owl-carousel-js'></script><script src='wp-includes/js/imagesloaded.mineda1.js?ver=4.1.4' id='imagesloaded-js'></script><script src='wp-includes/js/masonry.min3a05.js?ver=4.2.2' id='masonry-js'></script><script src='wp-includes/js/dist/vendor/regenerator-runtime.min3937.js?ver=0.13.9' id='regenerator-runtime-js'></script><script src='wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0' id='wp-polyfill-js'></script><script id='contact-form-7-js-extra'>var wpcf7 = {
"api": {
"root": "https:\/\/iiap.education\/wp-json\/",
"namespace": "contact-form-7\/v1"
}
};</script><script src='wp-content/plugins/contact-form-7/includes/js/indexd96d.js?ver=5.6.1' id='contact-form-7-js'></script><script src='wp-content/themes/rishi_1.1.5/customizer-builder/dist/events/eventsc80f.js?ver=107000eceafc2e50467c' id='rt-custom-events-js'></script><script id='rishi-companion-frontend-js-extra'>var rishi_companion_data = {
"public_url": "https:\/\/iiap.education\/wp-content\/plugins\/rishi-companion\/\/assets\/build\/"
};</script><script src='wp-content/plugins/rishi-companion/assets/build/publicJS7aab.js?ver=d1c722b38e9170df02bbc0265e6171e7' id='rishi-companion-frontend-js'></script><script src='wp-content/plugins/rishi-companion/assets/build/postsTab7aab.js?ver=d1c722b38e9170df02bbc0265e6171e7' id='rishi-companion-custom-js'></script><script id='rishi__cb_main-js-extra'>var rishi__cb_localizations = {
"gradients": [
{
"name": "Vivid cyan blue to vivid purple",
"gradient": "linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%)",
"slug": "vivid-cyan-blue-to-vivid-purple"
},
{
"name": "Light green cyan to vivid green cyan",
"gradient": "linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%)",
"slug": "light-green-cyan-to-vivid-green-cyan"
},
{
"name": "Luminous vivid amber to luminous vivid orange",
"gradient": "linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%)",
"slug": "luminous-vivid-amber-to-luminous-vivid-orange"
},
{
"name": "Luminous vivid orange to vivid red",
"gradient": "linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%)",
"slug": "luminous-vivid-orange-to-vivid-red"
}, {
"name": "Cool to warm spectrum",
"gradient": "linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%)",
"slug": "cool-to-warm-spectrum"
}, {
"name": "Blush light purple",
"gradient": "linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%)",
"slug": "blush-light-purple"
}, {
"name": "Blush bordeaux",
"gradient": "linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%)",
"slug": "blush-bordeaux"
}, {
"name": "Luminous dusk",
"gradient": "linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%)",
"slug": "luminous-dusk"
}, {
"name": "Pale ocean",
"gradient": "linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%)",
"slug": "pale-ocean"
}, {
"name": "Electric grass",
"gradient": "linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%)",
"slug": "electric-grass"
}, {
"name": "Midnight",
"gradient": "linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%)",
"slug": "midnight"
}, {
"name": "Juicy Peach",
"gradient": "linear-gradient(to right, #ffecd2 0%, #fcb69f 100%)",
"slug": "juicy-peach"
}, {
"name": "Young Passion",
"gradient": "linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)",
"slug": "young-passion"
}, {
"name": "True Sunset",
"gradient": "linear-gradient(to right, #fa709a 0%, #fee140 100%)",
"slug": "true-sunset"
}, {
"name": "Morpheus Den",
"gradient": "linear-gradient(to top, #30cfd0 0%, #330867 100%)",
"slug": "morpheus-den"
}, {
"name": "Plum Plate",
"gradient": "linear-gradient(135deg, #667eea 0%, #764ba2 100%)",
"slug": "plum-plate"
}, {
"name": "Aqua Splash",
"gradient": "linear-gradient(15deg, #13547a 0%, #80d0c7 100%)",
"slug": "aqua-splash"
}, {
"name": "Love Kiss",
"gradient": "linear-gradient(to top, #ff0844 0%, #ffb199 100%)",
"slug": "love-kiss"
}, {
"name": "New Retrowave",
"gradient": "linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%)",
"slug": "new-retrowave"
}, {
"name": "Plum Bath",
"gradient": "linear-gradient(to top, #cc208e 0%, #6713d2 100%)",
"slug": "plum-bath"
}, {
"name": "High Flight",
"gradient": "linear-gradient(to right, #0acffe 0%, #495aff 100%)",
"slug": "high-flight"
}, {
"name": "Teen Party",
"gradient": "linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%)",
"slug": "teen-party"
}, {
"name": "Fabled Sunset",
"gradient": "linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%)",
"slug": "fabled-sunset"
}, {
"name": "Arielle Smile",
"gradient": "radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%)",
"slug": "arielle-smile"
}, {
"name": "Itmeo Branding",
"gradient": "linear-gradient(180deg, #2af598 0%, #009efd 100%)",
"slug": "itmeo-branding"
}, {
"name": "Deep Blue",
"gradient": "linear-gradient(to right, #6a11cb 0%, #2575fc 100%)",
"slug": "deep-blue"
}, {
"name": "Strong Bliss",
"gradient": "linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%)",
"slug": "strong-bliss"
}, {
"name": "Sweet Period",
"gradient": "linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%)",
"slug": "sweet-period"
}, {
"name": "Purple Division",
"gradient": "linear-gradient(to top, #7028e4 0%, #e5b2ca 100%)",
"slug": "purple-division"
}, {
"name": "Cold Evening",
"gradient": "linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%)",
"slug": "cold-evening"
}, {
"name": "Mountain Rock",
"gradient": "linear-gradient(to right, #868f96 0%, #596164 100%)",
"slug": "mountain-rock"
}, {
"name": "Desert Hump",
"gradient": "linear-gradient(to top, #c79081 0%, #dfa579 100%)",
"slug": "desert-hump"
}, {
"name": "Eternal Constance",
"gradient": "linear-gradient(to top, #09203f 0%, #537895 100%)",
"slug": "ethernal-constance"
}, {
"name": "Happy Memories",
"gradient": "linear-gradient(-60deg, #ff5858 0%, #f09819 100%)",
"slug": "happy-memories"
}, {
"name": "Grown Early",
"gradient": "linear-gradient(to top, #0ba360 0%, #3cba92 100%)",
"slug": "grown-early"
}, {
"name": "Morning Salad",
"gradient": "linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%)",
"slug": "morning-salad"
}, {
"name": "Night Call",
"gradient": "linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%)",
"slug": "night-call"
}, {
"name": "Mind Crawl",
"gradient": "linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%)",
"slug": "mind-crawl"
}, {
"name": "Angel Care",
"gradient": "linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%)",
"slug": "angel-care"
}, {
"name": "Juicy Cake",
"gradient": "linear-gradient(to top, #e14fad 0%, #f9d423 100%)",
"slug": "juicy-cake"
}, {
"name": "Rich Metal",
"gradient": "linear-gradient(to right, #d7d2cc 0%, #304352 100%)",
"slug": "rich-metal"
}, {
"name": "Mole Hall",
"gradient": "linear-gradient(-20deg, #616161 0%, #9bc5c3 100%)",
"slug": "mole-hall"
}, {
"name": "Cloudy Knoxville",
"gradient": "linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)",
"slug": "cloudy-knoxville"
}, {
"name": "Very light gray to cyan bluish gray",
"gradient": "linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%)",
"slug": "very-light-gray-to-cyan-bluish-gray"
}, {
"name": "Soft Grass",
"gradient": "linear-gradient(to top, #c1dfc4 0%, #deecdd 100%)",
"slug": "soft-grass"
}, {
"name": "Saint Petersburg",
"gradient": "linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%)",
"slug": "saint-petersburg"
}, {
"name": "Everlasting Sky",
"gradient": "linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%)",
"slug": "everlasting-sky"
}, {
"name": "Kind Steel",
"gradient": "linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%)",
"slug": "kind-steel"
}, {
"name": "Over Sun",
"gradient": "linear-gradient(60deg, #abecd6 0%, #fbed96 100%)",
"slug": "over-sun"
}, {
"name": "Premium White",
"gradient": "linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%)",
"slug": "premium-white"
}, {
"name": "Clean Mirror",
"gradient": "linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%)",
"slug": "clean-mirror"
}, {
"name": "Wild Apple",
"gradient": "linear-gradient(to top, #d299c2 0%, #fef9d7 100%)",
"slug": "wild-apple"
}, {
"name": "Snow Again",
"gradient": "linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)",
"slug": "snow-again"
}, {
"name": "Confident Cloud",
"gradient": "linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%)",
"slug": "confident-cloud"
}, {
"name": "Glass Water",
"gradient": "linear-gradient(to top, #dfe9f3 0%, white 100%)",
"slug": "glass-water"
}, {
"name": "Perfect White",
"gradient": "linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%)",
"slug": "perfect-white"
}
],
"is_dev_mode": "",
"is_companion_active": "1",
"is_woocommerce_active": "",
"nonce": "89915afd48",
"public_url": "https:\/\/iiap.education\/wp-content\/themes\/rishi_1.1.5\/customizer-builder\/dist\/",
"static_public_url": "https:\/\/iiap.education\/wp-content\/themes\/rishi_1.1.5\/js\/",
"ajax_url": "https:\/\/iiap.education\/wp-admin\/admin-ajax.php",
"rest_url": "https:\/\/iiap.education\/wp-json\/",
"customizer_url": "https:\/\/iiap.education\/wp-admin\/customize.php?autofocus",
"search_url": "https:\/\/iiap.education\/search\/QUERY_STRING\/",
"show_more_text": "Show more",
"dynamic_js_chunks": [
{
"id": "rishi_sticky_header",
"selector": "header [data-sticky]",
"url": "https:\/\/iiap.education\/wp-content\/plugins\/rishi-companion\/assets\/build\/sticky.js"
}
]
};
var rishi_custom = {
"url": "https:\/\/iiap.education\/wp-admin\/admin-ajax.php",
"startPage": "1",
"maxPages": "0",
"nextLink": "https:\/\/iiap.education\/page\/2\/",
"autoLoad": "infinite_scroll",
"bp_layout": "masonry_grid",
"rtl": ""
};</script><script src='wp-content/themes/rishi_1.1.5/customizer-builder/dist/main/mainb567.js?ver=b2ac0d10f37549e2b02f' id='rishi__cb_main-js'></script><script src='wp-content/plugins/elementor/assets/js/webpack.runtime.mina4f3.js?ver=3.6.8' id='elementor-webpack-runtime-js'></script><script src='wp-content/plugins/elementor/assets/js/frontend-modules.mina4f3.js?ver=3.6.8' id='elementor-frontend-modules-js'></script><script src='wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2' id='elementor-waypoints-js'></script><script src='wp-includes/js/jquery/ui/core.min0028.js?ver=1.13.1' id='jquery-ui-core-js'></script><script id='elementor-frontend-js-before'>var elementorFrontendConfig = {
"environmentMode": {
"edit": false,
"wpPreview": false,
"isScriptDebug": false
},
"i18n": {
"shareOnFacebook": "Partager sur Facebook",
"shareOnTwitter": "Partager sur Twitter",
"pinIt": "L\u2019\u00e9pingler",
"download": "T\u00e9l\u00e9charger",
"downloadImage": "T\u00e9l\u00e9charger une image",
"fullscreen": "Plein \u00e9cran",
"zoom": "Zoom",
"share": "Partager",
"playVideo": "Lire la vid\u00e9o",
"previous": "Pr\u00e9c\u00e9dent",
"next": "Suivant",
"close": "Fermer"
},
"is_rtl": false,
"breakpoints": {
"xs": 0,
"sm": 480,
"md": 768,
"lg": 1025,
"xl": 1440,
"xxl": 1600
},
"responsive": {
"breakpoints": {
"mobile": {
"label": "Mobile",
"value": 767,
"default_value": 767,
"direction": "max",
"is_enabled": true
},
"mobile_extra": {
"label": "Grand mobile",
"value": 880,
"default_value": 880,
"direction": "max",
"is_enabled": false
},
"tablet": {
"label": "Tablette",
"value": 1024,
"default_value": 1024,
"direction": "max",
"is_enabled": true
},
"tablet_extra": {
"label": "Grande tablette",
"value": 1200,
"default_value": 1200,
"direction": "max",
"is_enabled": false
},
"laptop": {
"label": "Portable",
"value": 1366,
"default_value": 1366,
"direction": "max",
"is_enabled": false
},
"widescreen": {
"label": "\u00c9cran large",
"value": 2400,
"default_value": 2400,
"direction": "min",
"is_enabled": false
}
}
},
"version": "3.6.8",
"is_static": false,
"experimentalFeatures": {
"e_dom_optimization": true,
"e_optimized_assets_loading": true,
"e_optimized_css_loading": true,
"a11y_improvements": true,
"e_import_export": true,
"additional_custom_breakpoints": true,
"e_hidden_wordpress_widgets": true,
"landing-pages": true,
"elements-color-picker": true,
"favorite-widgets": true,
"admin-top-bar": true
},
"urls": {
"assets": "https:\/\/iiap.education\/wp-content\/plugins\/elementor\/assets\/"
},
"settings": {
"page": [],
"editorPreferences": []
},
"kit": {
"active_breakpoints": [
"viewport_mobile", "viewport_tablet"
],
"global_image_lightbox": "yes",
"lightbox_enable_counter": "yes",
"lightbox_enable_fullscreen": "yes",
"lightbox_enable_zoom": "yes",
"lightbox_enable_share": "yes",
"lightbox_title_src": "title",
"lightbox_description_src": "description"
},
"post": {
"id": 2056,
"title": "Institut%20International%20des%20Affaires%20Publiques%20%E2%80%93%20Vers%20la%20m%C3%A9ritocratie",
"excerpt": "",
"featuredImage": false
}
};</script><script src='wp-content/plugins/elementor/assets/js/frontend.mina4f3.js?ver=3.6.8' id='elementor-frontend-js'></script></body><!-- Mirrored from iiap.education/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Aug 2022 09:25:14 GMT --></html>
