<body class="page-template page-template-elementor_header_footer page page-id-612 wp-custom-logo wp-embed-responsive default-layout rishi-has-blocks full-width rt-loading elementor-default elementor-template-full-width elementor-kit-1108 elementor-page elementor-page-612" itemscope="" itemtype="http://schema.org/WebPage" data-link="type-2" data-forms="classic" data-prefix="single_page" data-header="type-1:sticky" data-footer="type-1" itemscope="itemscope" itemtype="http://schema.org/WebPage">
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 0.49803921568627"/><feFuncG type="table" tablevalues="0 0.49803921568627"/><feFuncB type="table" tablevalues="0 0.49803921568627"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 1"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0 1"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.54901960784314 0.98823529411765"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0.71764705882353 0.25490196078431"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 1"/><feFuncG type="table" tablevalues="0 0.27843137254902"/><feFuncB type="table" tablevalues="0.5921568627451 0.27843137254902"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 0"/><feFuncG type="table" tablevalues="0 0.64705882352941"/><feFuncB type="table" tablevalues="0 1"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.78039215686275 1"/><feFuncG type="table" tablevalues="0 0.94901960784314"/><feFuncB type="table" tablevalues="0.35294117647059 0.47058823529412"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.65098039215686 0.40392156862745"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0.44705882352941 0.4"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.098039215686275 1"/><feFuncG type="table" tablevalues="0 0.66274509803922"/><feFuncB type="table" tablevalues="0.84705882352941 0.41960784313725"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
		</defs>
	</svg>
	<div id="main-container" class="site">
		<a class="skip-link screen-reader-text" href="#primary">Skip to content</a>
		<header id="header" class="site-header" data-id="type-1" itemscope="" itemtype="https://schema.org/WPHeader">
			<div data-device="desktop" data-transparent="">
				<div data-row="top" data-column-set="2" data-transparent-row="yes">
					<div class="customizer_builder__container">
						<div data-column="start" data-placements="1">
							<div data-items="primary">
								<div class="cb__header-contact-info customizer-builder__contact-info__header" data-id="contacts">
									<ul data-icons-type="simple">
										<li>
											<span class="cb__icon-container">
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.683" viewbox="0 0 20 12.683"><path id="Path_26505" data-name="Path 26505" d="M10.463,976.362a1.465,1.465,0,0,0-.541.107l8.491,7.226a.825.825,0,0,0,1.159,0l8.5-7.233a1.469,1.469,0,0,0-.534-.1H10.463Zm-1.448,1.25a1.511,1.511,0,0,0-.015.213v9.756a1.46,1.46,0,0,0,1.463,1.463H27.537A1.46,1.46,0,0,0,29,987.581v-9.756a1.51,1.51,0,0,0-.015-.213l-8.46,7.2a2.376,2.376,0,0,1-3.064,0Z" transform="translate(-9 -976.362)"/></svg>
											</span>

											<div class="contact-info">

												<span class="contact-text">
													<a href="#">

														administration@iiap.education
													</a>
												</span>
											</div>
										</li>
										<li>
											<span class="cb__icon-container">
												<svg xmlns="http://www.w3.org/2000/svg" width="18.823" height="19.788" viewbox="0 0 18.823 19.788"><path id="Phone" d="M15.925,19.741a8.537,8.537,0,0,1-3.747-1.51,20.942,20.942,0,0,1-3.524-3.094,51.918,51.918,0,0,1-3.759-4.28A13.13,13.13,0,0,1,2.75,6.867a6.3,6.3,0,0,1-.233-2.914,5.144,5.144,0,0,1,1.66-2.906A7.085,7.085,0,0,1,5.306.221,1.454,1.454,0,0,1,6.9.246a5.738,5.738,0,0,1,2.443,2.93,1.06,1.06,0,0,1-.117,1.072c-.283.382-.578.754-.863,1.136-.251.338-.512.671-.736,1.027a.946.946,0,0,0,.01,1.108c.564.791,1.11,1.607,1.723,2.36a30.024,30.024,0,0,0,3.672,3.8c.3.255.615.481.932.712a.892.892,0,0,0,.96.087,10.79,10.79,0,0,0,.989-.554c.443-.283.878-.574,1.314-.853a1.155,1.155,0,0,1,1.207-.024,5.876,5.876,0,0,1,2.612,2.572,1.583,1.583,0,0,1-.142,1.795,5.431,5.431,0,0,1-4.353,2.362A6.181,6.181,0,0,1,15.925,19.741Z" transform="translate(-2.441 0.006)"/></svg>
											</span>

											<div class="contact-info">

												<span class="contact-text">
													<a href="tel: +261 34 77 777 35">

														+261 34 77 777 35
													</a>
												</span>
											</div>
										</li>
										<li>
											<span class="cb__icon-container">
												<svg id="address" xmlns="http://www.w3.org/2000/svg" width="13.788" height="20.937" viewbox="0 0 13.788 20.937"><path id="Path_26497" data-name="Path 26497" d="M29.894,961.362A6.894,6.894,0,0,0,23,968.256a10.93,10.93,0,0,0,1.277,4.6l5.617,9.447,5.617-9.447a10.929,10.929,0,0,0,1.277-4.6A6.894,6.894,0,0,0,29.894,961.362Zm0,3.83a3.064,3.064,0,1,1-3.064,3.064A3.064,3.064,0,0,1,29.894,965.192Z" transform="translate(-23 -961.362)"/></svg>
											</span>

											<div class="contact-info">

												<span class="contact-text">

													Lot Il A 105 F Nanisana ladiambola Face Centre Médical Innovation - Nanisana
												</span>
											</div>
										</li>
									</ul>

								</div>
							</div>
						</div>
						<div data-column="end" data-placements="1">
							<div data-items="primary">
								<div class="cb__header-socials " data-id="socials">


									<div class="cb__social-box" data-icon-size="custom" data-color="custom" data-icons-type="simple">


										<a href="#" target="_blank" rel="" data-network="facebook" aria-label="Facebook">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 24 24">
													<path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/>
												</svg>
											</span>

											<span class="cb__label">Facebook</span>
										</a>

										<a href="#" target="_blank" rel="" data-network="twitter" aria-label="Twitter">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 20 20">
													<path d="M20,3.8c-0.7,0.3-1.5,0.5-2.4,0.6c0.8-0.5,1.5-1.3,1.8-2.3c-0.8,0.5-1.7,0.8-2.6,1c-0.7-0.8-1.8-1.3-3-1.3c-2.3,0-4.1,1.8-4.1,4.1c0,0.3,0,0.6,0.1,0.9C6.4,6.7,3.4,5.1,1.4,2.6C1,3.2,0.8,3.9,0.8,4.7c0,1.4,0.7,2.7,1.8,3.4C2,8.1,1.4,7.9,0.8,7.6c0,0,0,0,0,0.1c0,2,1.4,3.6,3.3,4c-0.3,0.1-0.7,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1c0.5,1.6,2,2.8,3.8,2.8c-1.4,1.1-3.2,1.8-5.1,1.8c-0.3,0-0.7,0-1-0.1c1.8,1.2,4,1.8,6.3,1.8c7.5,0,11.7-6.3,11.7-11.7c0-0.2,0-0.4,0-0.5C18.8,5.3,19.4,4.6,20,3.8z"/>
												</svg>
											</span>

											<span class="cb__label">Twitter</span>
										</a>

										<a href="#" target="_blank" rel="" data-network="linkedin" aria-label="LinkedIn">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 24 24">
													<path d="m23.994 24v-.001h.006v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07v-2.185h-4.773v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243v7.801z"/><path d="m.396 7.977h4.976v16.023h-4.976z"/><path d="m2.882 0c-1.591 0-2.882 1.291-2.882 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909c-.001-1.591-1.292-2.882-2.882-2.882z"/>
												</svg>
											</span>

											<span class="cb__label">LinkedIn</span>
										</a>

										<a href="#" target="_blank" rel="" data-network="instagram" aria-label="Instagram">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 511 511.9">
													<path d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0"/><path d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0"/><path d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0"/>
												</svg>
											</span>

											<span class="cb__label">Instagram</span>
										</a>


									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rt-sticky-container">
					<div data-sticky="shrink">
						<div data-row="middle" data-column-set="2" data-transparent-row="yes">
							<div class="customizer_builder__container">
								<div data-column="start" data-placements="1">
									<div data-items="primary">
										<div class="site-branding" data-id="logo" data-logo="left" itemscope="itemscope" itemtype="">

											<a href="{{ path('app_home') }}" class="site-logo-container" rel="home"><img width="4961" height="1894" src="/wp-content/uploads/2022/07/iiap-final-01.png" class="sticky-logo" alt="Institut International des Affaires Publiques" loading="lazy"/><img width="4961" height="1894" src="/wp-content/uploads/2022/07/iiap-final-01.png" class="default-logo" alt="Institut International des Affaires Publiques" loading="lazy"/></a>
											<span class="screen-reader-text site-title " itemprop="name">
												<a href="{{ path('app_home') }}" rel="home" itemprop="url">
													Institut International des Affaires Publiques
												</a>
											</span>
										</div>
									</div>
								</div>
								<div data-column="end" data-placements="1">
									<div data-items="primary">
										<nav id="header-menu-1" class="header-menu-1" data-id="menu" data-menu="type-1" data-dropdown="type-2:simple" data-responsive="yes" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
											<ul id="menu-menu-1" class="menu">
												{% for page in allPages %}
													{% if page.iePages | length %}
														{% else %}
															{% set pageFound = page.pages %}
															{% if pageFound | length %}
																<li id="menu-item-{{page.id}}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-{{page.id}} animated-submenu">
																	<a href="{{ path('app_page',{slug:page.slug}) }}">{{ page.linkText }}<span class="child-indicator submenu-toggle">
																			<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewbox="0 0 10 5"><path id="Polygon_5" data-name="Polygon 5" d="M5,0l5,5H0Z" transform="translate(10 5) rotate(180)"/></svg>
																		</span>
																	</a>
																	<ul class="sub-menu">
																		{% for pageSub in pageFound %}
																			<li id="menu-item-{{pageSub.id}}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{pageSub.id}}">
																				<a href="{{ path('app_page',{slug:pageSub.slug}) }}">{{pageSub.linkText}}</a>
																			</li>
																		{% endfor %}
																	</ul>
																</li>

															{% else %}
																<li id="menu-item-{{page.id}}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{page.id}}">
																	<a href="{{ path('app_page',{slug:page.slug}) }}" aria-current="page">{{ page.linktext | raw }}</a>
																</li>
															{% endif %}
													{% endif %}
												{% endfor %}

											</ul>
										</nav>

										<div class="search-form-section">
											<button class="cb__header-search  header-search-btn" data-modal-key="68390" data-id="search" data-label="left" data-id="search">

												<span class="cb__label cb__hidden-sm cb__hidden-md cb__hidden-lg">Search</span>

												<svg class="cb__icon" width="15" height="15" viewbox="0 0 15 15">
													<path d="M14.6 13L12 10.5c.7-.8 1.3-2.5 1.3-3.8 0-3.6-3-6.6-6.6-6.6C3 0 0 3.1 0 6.7c0 3.6 3 6.6 6.6 6.6 1.4 0 2.7-.6 3.8-1.2l2.5 2.3c.7.7 1.2.7 1.7.2.5-.5.5-1 0-1.6zm-8-1.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9c0 2.6-2.2 4.9-4.9 4.9z"/>
												</svg>
											</button>

											<div class="search-toggle-form  cover-modal" data-modal-key="68390" data-modal-target-string=".search-modal">
												<div class="header-search-inner">
													<form autocomplete="off" role="search" method="get" class="search-form" action="#" data-live-results="thumbs">
														<label>
															<span class="screen-reader-text">Search for:</span>
															<input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search Input"/>

															<input type="hidden" name="rt_post_type" value="post:page:product">
														</label>
														<input type="submit" class="search-submit" value="Search">
													</form>
													<button id="btn-form-close" class="btn-form-close close"></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-device="mobile" data-transparent="">
				<div data-row="top" data-column-set="2" data-transparent-row="yes">
					<div class="customizer_builder__container">
						<div data-column="start" data-placements="1">
							<div data-items="primary">
								<div class="cb__header-socials " data-id="socials">


									<div class="cb__social-box" data-icon-size="custom" data-color="custom" data-icons-type="simple">


										<a href="#" target="_blank" rel="" data-network="facebook" aria-label="Facebook">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 24 24">
													<path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/>
												</svg>
											</span>

											<span class="cb__label">Facebook</span>
										</a>

										<a href="#" target="_blank" rel="" data-network="twitter" aria-label="Twitter">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 20 20">
													<path d="M20,3.8c-0.7,0.3-1.5,0.5-2.4,0.6c0.8-0.5,1.5-1.3,1.8-2.3c-0.8,0.5-1.7,0.8-2.6,1c-0.7-0.8-1.8-1.3-3-1.3c-2.3,0-4.1,1.8-4.1,4.1c0,0.3,0,0.6,0.1,0.9C6.4,6.7,3.4,5.1,1.4,2.6C1,3.2,0.8,3.9,0.8,4.7c0,1.4,0.7,2.7,1.8,3.4C2,8.1,1.4,7.9,0.8,7.6c0,0,0,0,0,0.1c0,2,1.4,3.6,3.3,4c-0.3,0.1-0.7,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1c0.5,1.6,2,2.8,3.8,2.8c-1.4,1.1-3.2,1.8-5.1,1.8c-0.3,0-0.7,0-1-0.1c1.8,1.2,4,1.8,6.3,1.8c7.5,0,11.7-6.3,11.7-11.7c0-0.2,0-0.4,0-0.5C18.8,5.3,19.4,4.6,20,3.8z"/>
												</svg>
											</span>

											<span class="cb__label">Twitter</span>
										</a>

										<a href="#" target="_blank" rel="" data-network="linkedin" aria-label="LinkedIn">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 24 24">
													<path d="m23.994 24v-.001h.006v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07v-2.185h-4.773v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243v7.801z"/><path d="m.396 7.977h4.976v16.023h-4.976z"/><path d="m2.882 0c-1.591 0-2.882 1.291-2.882 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909c-.001-1.591-1.292-2.882-2.882-2.882z"/>
												</svg>
											</span>

											<span class="cb__label">LinkedIn</span>
										</a>

										<a href="#" target="_blank" rel="" data-network="instagram" aria-label="Instagram">

											<span class="cb__icon-container">

												<svg class="rt-icon" width="20" height="20" viewbox="0 0 511 511.9">
													<path d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0"/><path d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0"/><path d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0"/>
												</svg>
											</span>

											<span class="cb__label">Instagram</span>
										</a>


									</div>


								</div>
							</div>
						</div>
						<div data-column="end" data-placements="1">
							<div data-items="primary">
								<div class="search-form-section">
									<button class="cb__header-search  header-search-btn" data-modal-key="10437" data-id="search" data-label="left" data-id="search">

										<span class="cb__label cb__hidden-sm cb__hidden-md cb__hidden-lg">Search</span>

										<svg class="cb__icon" width="15" height="15" viewbox="0 0 15 15">
											<path d="M14.6 13L12 10.5c.7-.8 1.3-2.5 1.3-3.8 0-3.6-3-6.6-6.6-6.6C3 0 0 3.1 0 6.7c0 3.6 3 6.6 6.6 6.6 1.4 0 2.7-.6 3.8-1.2l2.5 2.3c.7.7 1.2.7 1.7.2.5-.5.5-1 0-1.6zm-8-1.4c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9c0 2.6-2.2 4.9-4.9 4.9z"/>
										</svg>
									</button>

									<div class="search-toggle-form  cover-modal" data-modal-key="10437" data-modal-target-string=".search-modal">
										<div class="header-search-inner">
											<form autocomplete="off" role="search" method="get" class="search-form" action="#" data-live-results="thumbs">
												<label>
													<span class="screen-reader-text">Search for:</span>
													<input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search Input"/>

													<input type="hidden" name="rt_post_type" value="post:page:product">
												</label>
												<input type="submit" class="search-submit" value="Search">
											</form>
											<button id="btn-form-close" class="btn-form-close close"></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rt-sticky-container">
					<div data-sticky="shrink">
						<div data-row="middle" data-column-set="2" data-transparent-row="yes">
							<div class="customizer_builder__container">
								<div data-column="start" data-placements="1">
									<div data-items="primary">
										<div class="site-branding" data-id="logo" data-logo="left" itemscope="itemscope" itemtype="https://schema.org/Organization">

											<a href="{{ path('app_home') }}" class="site-logo-container" rel="home"><img width="4961" height="1894" src="../wp-content/uploads/2022/07/iiap-final-01.png" class="sticky-logo" alt="Institut International des Affaires Publiques" loading="lazy"/><img width="4961" height="1894" src="../wp-content/uploads/2022/07/iiap-final-01.png" class="default-logo" alt="Institut International des Affaires Publiques" loading="lazy"/></a>
											<span class="screen-reader-text site-title " itemprop="name">
												<a href="{{ path('app_home') }}" rel="home" itemprop="url">
													Institut International des Affaires Publiques
												</a>
											</span>
										</div>
									</div>
								</div>
								<div data-column="end" data-placements="1">
									<div data-items="primary">
										<a href="#offcanvas" class="cb__header-trigger toggle-btn" data-toggle-target=".main-menu-modal" data-toggle-body-class="showing-main-menu-modal" aria-expanded="false" data-set-focus=".close-main-nav-toggle" data-design="simple" aria-label="Menu" data-id="trigger">

											<span class="cb__menu-trigger" data-type="type-1">
												<span></span>
											</span>

											<span class="cb__label" hidden>
												Menu
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="cb__drawer-header-canvas">
			<div id="offcanvas" class="cb__panel site-header" data-behaviour="right-side" data-device="mobile">
				<section class="mobile-menu-list main-menu-modal cover-modal">
					<div class="mobile-menus" aria-label="Mobile">
						<div class="cb__panel-actions">
							<button class="close-button close close-main-nav-toggle" data-toggle-target=".main-menu-modal" data-toggle-body-class="showing-main-menu-modal" aria-expanded="false" data-set-focus=".main-menu-modal">
								<span class="cb__menu-trigger closed">
									<span></span>
								</span>
							</button>
						</div>
						<div class="cb__panel_content" data-device="desktop"></div>
						<div class="cb__panel_content" data-device="mobile">
							<nav class="mobile-menu has-submenu" data-id="mobile-menu" data-type="type-1">
								<ul id="menu-menu-2" class="">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-944">
										<a href="{{ path('app_home') }}">Accueil</a>
									</li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-612 current_page_item menu-item-939">
										<a href="index.html" aria-current="page">Notre institution</a>
									</li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-946">
										<a href="../nos-formations/index.html">Nos formations<span class="child-indicator submenu-toggle">
												<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewbox="0 0 10 5"><path id="Polygon_5" data-name="Polygon 5" d="M5,0l5,5H0Z" transform="translate(10 5) rotate(180)"/></svg>
											</span>
										</a>
										<ul class="sub-menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2148">
												<a href="../nos-formations/droit-administration-publique-et-territoriale/index.html">DAPT</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
												<a href="../nos-formations/gestion-de-projet-et-developpement-durable-gpdd/index.html">GPDD</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2150">
												<a href="../nos-formations/marches-et-finances-publiques-mfp/index.html">MFP</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2147">
												<a href="../nos-formations/organisations-internationales-humanitaires-et-diplomatie-oihd/index.html">OIHD</a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-942">
										<a href="../contact/index.html">Nous contacter</a>
									</li>
								</ul>
							</nav>
							<div class="cb__header-contact-info customizer-builder__contact-info__header" data-id="contacts">
								<ul data-icons-type="simple">
									<li>
										<span class="cb__icon-container">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.683" viewbox="0 0 20 12.683"><path id="Path_26505" data-name="Path 26505" d="M10.463,976.362a1.465,1.465,0,0,0-.541.107l8.491,7.226a.825.825,0,0,0,1.159,0l8.5-7.233a1.469,1.469,0,0,0-.534-.1H10.463Zm-1.448,1.25a1.511,1.511,0,0,0-.015.213v9.756a1.46,1.46,0,0,0,1.463,1.463H27.537A1.46,1.46,0,0,0,29,987.581v-9.756a1.51,1.51,0,0,0-.015-.213l-8.46,7.2a2.376,2.376,0,0,1-3.064,0Z" transform="translate(-9 -976.362)"/></svg>
										</span>

										<div class="contact-info">

											<span class="contact-text">
												<a href="#">

													administration@iiap.education
												</a>
											</span>
										</div>
									</li>
									<li>
										<span class="cb__icon-container">
											<svg xmlns="http://www.w3.org/2000/svg" width="18.823" height="19.788" viewbox="0 0 18.823 19.788"><path id="Phone" d="M15.925,19.741a8.537,8.537,0,0,1-3.747-1.51,20.942,20.942,0,0,1-3.524-3.094,51.918,51.918,0,0,1-3.759-4.28A13.13,13.13,0,0,1,2.75,6.867a6.3,6.3,0,0,1-.233-2.914,5.144,5.144,0,0,1,1.66-2.906A7.085,7.085,0,0,1,5.306.221,1.454,1.454,0,0,1,6.9.246a5.738,5.738,0,0,1,2.443,2.93,1.06,1.06,0,0,1-.117,1.072c-.283.382-.578.754-.863,1.136-.251.338-.512.671-.736,1.027a.946.946,0,0,0,.01,1.108c.564.791,1.11,1.607,1.723,2.36a30.024,30.024,0,0,0,3.672,3.8c.3.255.615.481.932.712a.892.892,0,0,0,.96.087,10.79,10.79,0,0,0,.989-.554c.443-.283.878-.574,1.314-.853a1.155,1.155,0,0,1,1.207-.024,5.876,5.876,0,0,1,2.612,2.572,1.583,1.583,0,0,1-.142,1.795,5.431,5.431,0,0,1-4.353,2.362A6.181,6.181,0,0,1,15.925,19.741Z" transform="translate(-2.441 0.006)"/></svg>
										</span>

										<div class="contact-info">

											<span class="contact-text">
												<a href="tel: +261 34 77 777 35">

													+261 34 77 777 35
												</a>
											</span>
										</div>
									</li>
									<li>
										<span class="cb__icon-container">
											<svg id="address" xmlns="http://www.w3.org/2000/svg" width="13.788" height="20.937" viewbox="0 0 13.788 20.937"><path id="Path_26497" data-name="Path 26497" d="M29.894,961.362A6.894,6.894,0,0,0,23,968.256a10.93,10.93,0,0,0,1.277,4.6l5.617,9.447,5.617-9.447a10.929,10.929,0,0,0,1.277-4.6A6.894,6.894,0,0,0,29.894,961.362Zm0,3.83a3.064,3.064,0,1,1-3.064,3.064A3.064,3.064,0,0,1,29.894,965.192Z" transform="translate(-23 -961.362)"/></svg>
										</span>

										<div class="contact-info">

											<span class="contact-text">

												Lot Il A 105 F Nanisana ladiambola Face Centre Médical Innovation - Nanisana
											</span>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
</body></body>
