{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Liste des étudiants par filières ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Liste des étudiants en (
								<span class="text-info">{{ faculty.acronym }}</span>
								)</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card card-info {% if not openCard %}collapsed-card{% endif %}">
								<div class="card-header">
									<h3 class="card-title font-weight-bold">Filtrer les étudiants - ici -</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse">
											<i class="fas {% if not openCard %}fa-plus{% else %}fa-minus{% endif %}"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									{{ form_start(filterStudentForm) }}
									<div class="row">
										<div class="col-lg-3">{{ form_row(filterStudentForm.type) }}</div>
										<div class="col-lg-3">{{ form_row(filterStudentForm.level) }}</div>
										<div class="col-lg-3">{{ form_row(filterStudentForm.semester) }}</div>
										<div class="col-lg-3">{{ form_row(filterStudentForm.vague) }}</div>
										<div class="col-lg-3 offset-9">
											<button type="submit" class="btn float-right btn-block btn-outline-info">Filtrer</button>
										</div>
									</div>
									{{ form_end(filterStudentForm) }}
								</div>
							</div>

						</div>

						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">Liste de touts les étudiants dans le filière :
										<span class="text-success font-weight-bold">{{ faculty.name }}</span>
									</h3>
								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped table-sm text-center">

										<thead>
											<tr>
												<th>Avatar</th>
												<th>Matricule</th>
												<th>Semestre</th>
												<th>Niveau</th>
												<th>Vague</th>
												<th>Date de validation</th>
												<th>Nom complet</th>
												<th>Contact</th>
												<th>E-mail</th>
												<th>Date et lieu de naissance</th>
											</tr>
										</thead>

										<tbody>
											{% for student in students %}
												{% set user = getUser(student) %}
												<tr>
													<td>
														{% if user.avatar is defined and user.avatar is not empty %}
															<img src="{{ vich_uploader_asset(user) | imagine_filter('AVATAR') }}" class="img-circle elevation-2" alt="User Image">
														{% else %}
															<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
														{% endif %}
													</td>
													<td>{{ student.matriculeNumber }}</td>
													<td>{{ student.semester }}</td>
													<td>{{ student.level }}</td>
													<td>{{ student.vague }}</td>
													<td>{{ user.confirmAt | date('d-m-Y') }}</td>
													<td>{{ user.fullName }}</td>
													<td>{{ user.phoneNumber }}</td>
													<td>{{ user.email }}</td>
													<td>{{ user.fullBirth }}</td>

												</tr>
											{% endfor %}
										</tbody>

										<tfoot>
											<tr>
												<th>Avatar</th>
												<th>Matricule</th>
												<th>Semestre</th>
												<th>Niveau</th>
												<th>Vague</th>
												<th>Date de validation</th>
												<th>Nom complet</th>
												<th>Contact</th>
												<th>E-mail</th>
												<th>Date et lieu de naissance</th>
											</tr>


										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
