{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Demande d'inscription ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-12">
							<div class="content-header">
								<div class="container-fluid">
									<div class="row mb-2">
										<div class="col-sm-6">
											<h1 class="m-0">Demande d'inscription</h1>
										</div>
										<!-- /.col -->
										<div class="col-sm-6">
											<ol class="breadcrumb float-sm-right">
												<li class="breadcrumb-item">
													<a href="{{ path('app_admin_user_add') }}?type={{ app.request.query.get('type','ROLE_STUDENT') }}">Ajouter une nouvelle
														<span class="font-italic">
															<u>{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}</u>
														</span>

													</a>

												</li>
												<li class="breadcrumb-item active">Administration</li>
											</ol>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header bg-primary">
									<h3 class="card-title text-uppercase">{{ user.email }}
									</h3>
								</div>
								<div class="card-body">
									<div class="row">

										<div class="col-lg-3">
											<div class="row">
												<div class="col-lg-12">
													<div class="card card-info card-outline">
														<div class="card-body box-profile">
															<div class="text-center">
																{% if user.avatar is defined and user.avatar is not empty %}
																	<img src="{{ vich_uploader_asset(user) | imagine_filter('AVATAR') }}" class="profile-user-img img-fluid img-circle" alt="User Image">
																{% else %}
																	<img src="{{ asset('images/user-default-image.png') }}" class="profile-user-img img-fluid img-circle" alt="User Image">
																{% endif %}

															</div>

															<h3 class="profile-username text-center">{{ user.fullName }}</h3>

															<p class="offset-4 col-lg-4 badge badge-info text-center">{{getType(user.studentInformation.type ~ '.' ~ user.studentInformation.sexe)}}</p>


															<ul class="list-group list-group-unbordered mb-3">
																<li class="list-group-item">
																	<button onclick="document.location='{{ path('app_admin_user_student_download_data', {id: user.id}) }}'" class="btn btn-block btn-outline-info">
																		<div class="row">
																			<b class="col-lg-8">Dossier</b>
																			<span class="col-lg-1">|</span>
																			<i class="fas fa-download col-lg-3 float-right"></i>
																		</div>
																	</button>
																</li>
																<li class="list-group-item">
																	<button class="btn btn-block btn-outline-success" onclick='activeTabValidation()'>
																		<div class="row">
																			<b class="col-lg-8">Valider</b>
																			<span class="col-lg-1">|</span>
																			<i class="fas fa-check col-lg-3 float-right"></i>
																		</div>
																	</button>

																</li>
																<li class="list-group-item">
																	<button onclick="alert('Suppression')" class="btn btn-block btn-outline-danger">
																		<div class="row">
																			<b class="col-lg-8">Effacer</b>
																			<span class="col-lg-1">|</span>
																			<i class="fas fa-trash col-lg-3 float-right"></i>
																		</div>
																	</button>

																</li>

																<li class="list-group-item">
																	<b>Date de demande d'inscription :</b>
																	<br>
																	<span class="">
																		{{user.createdAt | date('Y-m-d h:m:s')}}
																	</span>
																</li>

															</ul>

														</div>
													</div>
												</div>
												<div class="col-lg-12"></div>
											</div>
										</div>

										<div class="col-lg-9">
											<div class="card">
												<div class="card-header p-2">
													<ul class="nav nav-pills">
														<li class="nav-item">
															<a class="nav-link {% if not errorValidation %}active{% endif %} informationPersonnel" href="#informationPersonnel" data-toggle="tab">Information personnel</a>


														</li>
														<li class="nav-item">
															<a class="nav-link renseignementDesGarants" href="#renseignementDesGarants" data-toggle="tab">Renseignement des garants</a>

														</li>
														<li class="nav-item">
															<a class="nav-link {% if errorValidation %}active{% endif %} validationForm" href="#ValidationForm" data-toggle="tab">Validation</a>

														</li>
													</ul>
												</div>
												<div class="card-body">
													<div class="tab-content">
														<div class="{% if not errorValidation %}active{% endif %} tab-pane" id="informationPersonnel">

															<strong>
																<i class="fas fa-envelope mr-1"></i>
																E-mail
															</strong>
															<p class="text-muted">
																{{ user.email }}
															</p>
															<hr>
															<strong>
																<i class="fas fa-user mr-1"></i>
																Nom complet
															</strong>
															<p class="text-muted">
																{{ user.fullName }}
															</p>
															<hr>

															<strong>
																<i class="fas fa-book mr-1"></i>
																Date et Lieu de naissance
															</strong>
															<p class="text-muted">
																{{ user.fullBirth }}
															</p>
															<hr>
															<strong>
																<i class="fas fa-map-marker-alt mr-1"></i>
																Adresse
															</strong>
															<p class="text-muted">{{user.address}}</p>
															<hr>
															<strong>
																<i class="fas fa-phone mr-1"></i>
																Téléphone
															</strong>
															<p class="text-muted">{{user.phoneNumber}}</p>
															<hr>
															<strong>
																<i class="fas fa-expand-arrows-alt mr-1"></i>
																Sexe
															</strong>
															<p class="text-muted">{{getSexe(user.studentInformation.sexe)}}</p>
														</div>
														<div class="tab-pane" id="renseignementDesGarants">
															<div class="card">
																<div class="card-header">
																	<h3 class="card-title">
																		<i class="fas fa-text-width"></i>
																		Renseignement des garants pour les étudiants
																		<span class="badge badge-info">{{getType(user.studentInformation.type ~ '.' ~ user.studentInformation.sexe)}}

																		</span>
																	</h3>
																</div>
																<div class="card-body">
																	<dl class="row">

																		{% if user.studentInformation.type == "worker" %}
																			<dt class="col-sm-5">Fonction</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.job }}</dd>
																			<dt class="col-sm-5">Nom de l'employeur</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.employerName }}</dd>
																			<dt class="col-sm-5">Nom du garant</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.gNames }}</dd>
																			<dt class="col-sm-5">E-mail</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.gEmail }}</dd>
																			<dt class="col-sm-5">Contact</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.gPhoneNumber }}</dd>
																		{% endif %}

																		{% if user.studentInformation.type == "bachelor" %}

																			<dt class="col-sm-5">Nom et prénom(s) du père ou de la mère</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.fmNames }}</dd>
																			<dt class="col-sm-5">Fonction</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.fmJobs }}</dd>
																			<dt class="col-sm-5">E-mail</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.fmEmail }}</dd>
																			<dt class="col-sm-5">Contact</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.fmPhoneNumber }}</dd>
																			<dt class="col-sm-5">Adresse</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.fmAdress }}</dd>
																			<dt class="col-sm-5">Nom et prénom(s) du tuteur ou de la tutrice</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.tNames }}</dd>
																			<dt class="col-sm-5">Fonction</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.tJobs }}</dd>
																			<dt class="col-sm-5">E-mail</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.tEmail }}</dd>
																			<dt class="col-sm-5">Contact</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.tPhoneNumber }}</dd>
																			<dt class="col-sm-5">Adresse</dt>
																			<dd class="col-sm-7">{{ user.studentInformation.tAdress }}</dd>


																		{% endif %}

																	</dl>
																</div>
															</div>

														</div>

														<div class="{% if errorValidation %}active{% endif %} tab-pane" id="ValidationForm">

															{% include "admin/layouts/_flashMessage.html.twig" %}
															{{ form_start(validationStudentForm) }}
															{{ form_widget(validationStudentForm) }}
															<input type="submit" value="Valider" class="btn btn-success float-right btn-block col-lg-4">
															{{ form_start(validationStudentForm) }}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}{% block javascripts %}
<script>
	function activeTabValidation() {
$('.informationPersonnel').removeClass('active');
$('.renseignementDesGarants').removeClass('active');
$('.validationForm').addClass('active');

$('#informationPersonnel').removeClass('active');
$('#renseignementDesGarants').removeClass('active');
$('#ValidationForm').addClass('active');


}
</script>{% endblock %}
