<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Authentification | Institut International des Affaires Publiques - Vers la méritocratie</title>
		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/dist/css/adminlte.min.css') }}">
	</head>
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="card card-outline card-primary">
				<div class="card-header text-center">
					<a href="{{ path('app_home') }}" class="h1">
						<b>iiap</b>
						éducation
					</a>
				</div>
				<div class="card-body">
					<p class="login-box-msg">Connectez-vous pour démarrer votre sessionn</p>
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						{% endif %}
						<div class="input-group mb-3">
							<input type="email" placeholder="e-mail" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" placeholder="le mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="row">
							<div class="col-8">
								<div class="icheck-primary">
									<input type="checkbox" name="_remember_me" id="remember">
									<label for="remember">
										Souviens-toi de moi
									</label>
								</div>
							</div>
							<div class="col-4">
								<button type="submit" class="btn btn-primary">S'identifier</button>
							</div>
						</div>
					</form>
					<p class="mb-1 mt-3">
						<a href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a>
					</p>
					<p class="mb-0">
						<a href="{{ path('app_register') }}" class="text-center">Inscrivez-vous ici</a>
					</p>
				</div>
			</div>
		</div>
		<script src="{{ asset('assets/BO/plugins/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/BO/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/BO/dist/js/adminlte.js') }}"></script>
	</body>
</html>
