<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="refresh" content="30; url={{ path('app_home') }}">
		<title>Inscription | Institut International des Affaires Publiques - Vers la méritocratie</title>
		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/dist/css/adminlte.min.css') }}">
	</head>
	<body class="hold-transition register-page">
		<div class="register-box" style="width: 80% !important;">

			<div class="card card-outline card-dark">
				<div class="card-header text-center">
					<a href="{{ path('app_home') }}" class="h1">
						<b>iiap</b>
						éducation
					</a>
				</div>

				<div class="card-body">
					<h3 class="login-box-msg text-success text-uppercase">Inscription avec succès.</h3>

					<div class="col-lg-12">
						Merci pour votre inscription, votre demande sera examiné, nous vous repondrons sous 72 heures (jours ouvrable) au maximum par mail.
						<b>
							<i class="text-uppercase">Merci encore</i>
						</b>

						<hr>
						<a href="{{ path('app_home') }}">Retour sur la page d'accueil</a>
					</div>

				</div>
			</div>
			<script src="{{ asset('assets/BO/plugins/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('assets/BO/dist/js/adminlte.js') }}"></script>
			<script></script>
		</body>
	</body>
</html></body></html>
