<aside class="main-sidebar elevation-4 sidebar-light-success">
	<a href="{{ path('app_school_manager_home') }}" class="brand-link bg-success">
		<img src="{{ asset('assets/images/logo.png') | imagine_filter('BO_LOGO_GCI') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 bg-white" style="opacity: .8">
		<span class="brand-text font-weight-light">iiap Éducation</span>
	</a>

	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				{% if app.user.avatar is defined and app.user.avatar is not empty %}
					<img src="{{ vich_uploader_asset(app.user) | imagine_filter('BO_LOGO_GCI') }}" class="img-circle elevation-2" alt="User Image">

				{% else %}
					<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
				{% endif %}
			</div>
			<div class="info">
				<a href="#" class="d-block">{{ app.user.fullName | u.truncate(25,'...') }}</a>
			</div>
		</div>
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item menu-open">
					<a href="#" class="nav-link active">
						<p>
							<i class="fas fa-bars"></i>
							&nbsp;	Menu
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>


					<ul class="nav nav-treeview">

						<li class="nav-item menu-is-opening menu-open">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-bell"></i>
								<p>
									Notifications
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview nav-child-indent" style="display: block;">
								<li class="nav-item">
									<a href="{{ path('app_school_manager_payment_request', { type: 'mobile-money' }) }}" class="nav-link">
										&nbsp;&nbsp;&nbsp;
										<i class="fas fa-mobile"></i>
										&nbsp;&nbsp;&nbsp;
										<p>MVola</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										&nbsp;&nbsp;&nbsp;
										<i class="fas fa-minus"></i>
										&nbsp;&nbsp;&nbsp;
										<p>....</p>
									</a>
								</li>
							</ul>

						</li>

						<li class="nav-item">
							<a href="{{ path('app_payment_classification') }}" class="nav-link">
								<i class="nav-icon fas fa-clipboard-list"></i>
								<p>
									Classification
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-chart-bar"></i>
								<p>
									Statistique
								</p>
							</a>
						</li>


						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-calculator"></i>
								<p>
									Recouvrement
								</p>
							</a>
						</li>

					</ul>
				</li>


			</li>
		</li>
	</ul>
</nav></div></aside>
