<nav class="main-header navbar navbar-expand navbar-dark bg-success" style="border: none">

	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button">
				<i class="fas fa-bars"></i>
			</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
				<b>Plein écran |
				</b>
				<i class="fas fa-expand-arrows-alt"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_logout') }}" role="button">
				<b>Déconnexion |
				</b>
				<i class="fas fa-power-off"></i>

			</a>
		</li>
	</ul>
</nav>
