<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Réinitialisez votre mot de passe| | Institut International des Affaires Publiques - Vers la méritocratie</title>
		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/dist/css/adminlte.min.css') }}">

	</head>
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="card card-outline card-primary">
				<div class="card-header text-center">
					<a href="{{ path('app_home') }}" class="h1">
						<b>iiap</b>
						éducation
					</a>

				</div>
				<div class="card-body">
					<p class="login-box-msg">Vous n'êtes qu'à un pas de votre nouveau mot de passe, récupérez votre mot de passe maintenant.</p>

					{{ form_start(resetForm, {'method':'POST'}) }}

					<div class="input-group mb-3">
						{{ form_widget(resetForm.plainPassword.first) }}
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
						{{ form_errors(resetForm.plainPassword.first) }}
					</div>
					<div class="input-group mb-3">
						{{ form_widget(resetForm.plainPassword.second) }}
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
						{{ form_errors(resetForm.plainPassword.second) }}
					</div>
					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">Changer le mot de passe</button>
						</div>
					</div>
					{{ form_end(resetForm) }}
					<p class="mt-3 mb-1">
						<a href="{{ path('app_login') }}">Connexion</a>
					</p>
				</div>
			</div>
		</div>
		<script src="{{ asset('assets/BO/plugins/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/BO/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/BO/dist/js/adminlte.js') }}"></script>
	</body>
</html>
