{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Emploi du temps ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Emploi du temps des étudiants</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">
										Ajouter une nouvelle emploi du temps 📆
									</h3>
								</div>
								<div class="card-body">
									{{ form_start(form) }}
									<div class="row">
										<div class="col-lg-4">{{ form_row(form.startAt) }}</div>
										<div class="col-lg-4">{{ form_row(form.endAt) }}</div>
										<div class="col-lg-4">{{ form_row(form.color) }}</div>
										<div class="col-lg-12">{{ form_row(form.title) }}</div>
										<div class="col-lg-12">{{ form_row(form.description) }}</div>
										<div class="col-lg-2">{{ form_row(form.target) }}</div>
										<div class="col-lg-4">{{ form_row(form.faculty) }}</div>
										<div class="col-lg-2">{{ form_row(form.level) }}</div>
										<div class="col-lg-2">{{ form_row(form.vague) }}</div>
										<div class="col-lg-2">{{ form_row(form.semester) }}</div>
										<input type="submit" value="Enregistrer" class='btn btn-info col-lg-3 btn-block offset-9'>

									</div>
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
