{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Emploi du temps ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Emploi du temps des étudiants</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">
										Liste des emploi du temps pour le filière (
										<span class="badge badge-info">{{ faculty }}</span>
										) 📆
									</h3>
									<div class="card-tools">
										<button type="button" onclick="document.location='{{ path('app_admin_timetable_add') }}'" class="btn bg-info btn-tool">
											Ajouter une nouvelle emploi du temps &nbsp; | &nbsp;
											<i class="fas fa-plus"></i>
										</button>
									</div>

								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-3">
											<div class="callout callout-info">
												<h5>
													<i class="fas fa-search"></i>
													Filtrer le resultat :</h5>
												{{ form_start(form) }}
												<div class="row">
													<div class="col-lg-12">{{ form_row(form.target) }}</div>
													<div class="col-lg-12">{{ form_row(form.faculty) }}</div>
													<div class="col-lg-12">{{ form_row(form.level) }}</div>
													<div class="col-lg-12">{{ form_row(form.vague) }}</div>
													<div class="col-lg-12">{{ form_row(form.semester) }}</div>
													<div class="offset-6 col-lg-6">
														<input type="submit" class="btn btn-info btn-block float-right" value="Filtrer"/>
													</div>
												</div>
												{{ form_end(form) }}
											</div>

										</div>
										<div class="col-lg-9">
											<div id="calendar"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/BO/plugins/fullcalendar/main.js') }}"></script>
	<script src="{{ asset('assets/BO/plugins/fullcalendar/locales/fr.js') }}"></script>
	<script>
		var urlData = "{{ path('app_admin_timetable_get_data') }}";

$.post(urlData, {
target: $('.tft_target').val(),
faculty: $('.tft_faculty').val(),
level: $('.tft_level').val(),
vague: $('.tft_vague').val(),
semester: $('.tft_semester').val()
}, function (data, status, xhr) {
$(function () {
var Calendar = FullCalendar.Calendar;
var calendarEl = document.getElementById("calendar");
var calendar = new Calendar(calendarEl, {
headerToolbar: {
left: "prev,next today",
center: "title",
right: "dayGridMonth,timeGridWeek,timeGridDay"
},
footerToolbar: {
left: "",
center: "",
right: "listDay, ,listMonth,listYear"
},
themeSystem: "bootstrap",
events: data,
locale: "fr",
buttonText: {
listMonth: "Planning du mois",
listYear: "Planning de l'année",
listDay: "Planning du jour"
}
});

calendar.render();
});
}).done(function () {
console.log("Request done!");
}).fail(function (jqxhr, settings, ex) {
console.log("failed, " + ex);
});
	</script>
{% endblock %}
