{% extends "student/st.html.twig" %}
{% block title %}
	Votre Message
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-lg-12 font-italic">
							<h1>Boite de conversation</h1>
						</div>
					</div>
				</div>
			</section>
			{% set student = user.studentInformation %}
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="callout callout-success">
								<h5>
									<i class="fas fa-info"></i>
									Appel Video:</h5>
								<span class="">
									Pour accéder à l'appel video, cliquez ce bouton :
									<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#video-call">
										<i class="fas fa-video"></i>
									</button>

									<div class="modal fade" id="video-call">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Ajout le mot clé envoyé par e-mail</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form action="{{ path('app_student_message_video_chat_key') }}" method="post">
														<div class="form-group">
															<input type="text" name="keywords" id="" class="form-control mb-4"/>
															<input type="submit" value="Verifier" class="btn btn-info"/>
														</div>
													</form>
												</div>

											</div>
										</div>
									</div>
								</span>
							</div>

						</div>

						<div class="col-lg-5">
							<ul class="list-group">
								{% for i in 4..10 %}
									<li class="list-group-item row">
										<div class="user-block col-lg-12">
											<img class="img-circle img-bordered-sm" src="{{ vich_uploader_asset(app.user) | imagine_filter('BO_LOGO_GCI') }}" alt="user image">
											<span class="username">
												<h6 class="font-italic text-info font-weight-bold">RABARISON Heriniaina
													{{ i }}</h6>
											</span>
											{% if i%2 == 0 %}
												<span class="description">
													<span class="font-italic">
														<span class="text-success">vous</span>
														: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos perspiciatis reprehenderit dolore excepturi, ducimus quidem ...
													</span>
													<br>
													<span>7:30 PM today</span>
												</span>
											{% else %}
												<span class="description">
													<span class="font-weight-bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos perspiciatis reprehenderit dolore excepturi, ducimus quidem ...</span>
													<br>
													<span>7:30 PM today</span>
												</span>
											{% endif %}


										</div>
									</li>

								{% endfor %}
							</ul>
						</div>


						<div class="col-lg-7">
							<div class="card card-info card-outline direct-chat direct-chat-info">
								<div class="card-header">
									<h3 class="card-title text-info font-italic font-weight-bold">RABARISON Heriniaina 7</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="maximize">
											<i class="fas fa-expand"></i>
										</button>

									</div>
								</div>
								<div class="card-body">
									<div class="direct-chat-messages" style="height: 80vh">
										{% for i in 5..12 %}
											<div class="direct-chat-msg">
												<div class="direct-chat-infos clearfix">
													<span class="direct-chat-name float-left">RABARISON</span>
													<span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
												</div>
												<img class="direct-chat-img" src="{{ vich_uploader_asset(app.user) | imagine_filter('BO_LOGO_GCI') }}" alt="Message User Image">
												<div class="direct-chat-text">
													Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam natus error itaque maxime. Esse, commodi.
												</div>
											</div>
											<div class="direct-chat-msg right">
												<div class="direct-chat-infos clearfix">
													<span class="direct-chat-name float-right">Heriniaina</span>
													<span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
												</div>
												<img class="direct-chat-img" src="{{ vich_uploader_asset(app.user) | imagine_filter('BO_LOGO_GCI') }}" alt="Message User Image">
												<div class="direct-chat-text">
													Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit numquam, provident itaque saepe assumenda harum esse autem non error, fugiat modi dicta aliquam hic quisquam.
												</div>
											</div>

										{% endfor %}
									</div>
								</div>
								<div class="card-footer">
									<form action="#" method="post">
										<div class="input-group">
											<input type="text" name="message" placeholder="Type Message ..." class="form-control">
											<span class="input-group-append">
												<button type="submit" class="btn btn-info">Envoyer</button>
											</span>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

{% endblock %}
