{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Liste des cours ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Liste des cours</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum, ullam omnis saepe harum aperiam incidunt asperiores molestias eaque, est mollitia voluptatem. Atque ea aliquid amet magni enim quo eaque ab facilis nulla eum. Beatae, officiis dolore molestiae eum nesciunt ullam numquam qui quisquam omnis dignissimos officia minima facilis modi est soluta odio molestias atque error exercitationem aspernatur quasi nam? Eius aspernatur quam fuga sit quibusdam voluptatum eum sint atque, perspiciatis, consequuntur minima, esse aut rem repellendus dolore debitis fugiat recusandae animi distinctio deserunt et voluptate temporibus. Dignissimos mollitia, sapiente deleniti atque cumque maiores numquam beatae modi labore doloribus non error natus consequatur sit, nulla repellat expedita aliquid tempora laboriosam. Repudiandae laudantium, aspernatur animi dicta dolores explicabo minima porro laboriosam beatae sint reprehenderit nemo ea ad maiores illum dolorem dolorum aliquam minus modi? Optio cumque sunt iure, commodi facere facilis quos labore suscipit ut porro id consectetur ducimus aspernatur aperiam?</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div></div>{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
