{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Liste des matières
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Liste des matières</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">Liste de touts les matières :
									</h3>
									<div class="card-tools">
										<button type="button" class="btn bg-info btn-tool" data-toggle="modal" data-target="#add-course">
											Ajouter une nouvelle matière &nbsp; | &nbsp;
											<i class="fas fa-plus"></i>
										</button>
										<div class="modal {% if openModal %}show{% else %}fade{% endif %}" id="add-course">
											<div class="modal-dialog">
												{{ form_start(form) }}
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Ajout d'une nouvelle matière</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														{{ form_widget(form) }}
													</div>
													<div class="modal-footer justify-content-right">
														<input type="reset" value="Effacer les champs" class="btn btn-danger"/>
														<input type="submit" value="Ajouter" class="btn btn-info"/>
													</div>
												</div>
												{{ form_end(form) }}
											</div>
										</div>


									</div>

								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped table-sm text-center">

										<thead>
											<tr>
												<th>Image de couverture</th>
												<th>Titre (intitulé)</th>
												<th>Description</th>
												<th>Crédits</th>
												<th>Unité d'enseignement</th>
												<th>Leçon, Exercice, Corrigé</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											{% for cours in courses %}
												<tr>
													<td>
														{% if cours.image is defined and cours.image is not empty %}
															<img src="{{ vich_uploader_asset(cours) | imagine_filter('AVATAR') }}" class="img-circle elevation-2" alt="{{ cours.title }}">
														{% else %}
															<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="{{ cours.title }}">
														{% endif %}
													</td>
													<td>{{ cours.title }}</td>
													<td>{{ cours.description | u.truncate(70,'...') }}</td>
													<td>{{ cours.credit }}</td>
													<td>
														<span class="badge badge-primary">{{ cours.teachingUnit }}</span>
													</td>
													<td>
														<button class="btn btn-outline-info btn-sm" onclick="document.location = '{{ path('app_admin_course_show_detail', { slug: cours.slug }) }}'">
															<i class="fas fa-eye" aria-hidden="true"></i>
														</button>
													</td>
													<td>
														<div class="btn-group">

															<button class="btn btn-success" onclick="document.location = '#'">
																<i class="fas fa-edit" aria-hidden="true"></i>
															</button>

															<button class="btn btn-danger" onclick="document.location = '#'">
																<i class="fas fa-trash" aria-hidden="true"></i>
															</button>

														</div>
													</td>

												</tr>
											{% endfor %}

										</tbody>
										<tfoot>
											<tr>
												<th>Image de couverture</th>
												<th>Titre (intitulé)</th>
												<th>Description</th>
												<th>Crédits</th>
												<th>Unité d'enseignement</th>
												<th>Leçon, Exercice, Corrigé</th>
												<th>Options</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}{% block javascripts %}
<script>
	const imageFileClass = document.querySelector('.imageFileClass');
imageFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[0].textContent = event.target.value.split("\\").pop();
}, false);
</script>{% endblock %}
