{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style>
		.modal-dialog {
			height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
		}
		.modal-content,
		iframe {

			height: 100%; /* = 100% of the .modal-dialog block */
		}
	</style>

{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Unité d'enseignement</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="#">Ajouter une nouvelle unité d'enseignement</a>
										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Liste de touts les unités d'enseignements</h3>
						</div>
						<div class="card-body">

							{% for type,messages in app.flashes %}
								<div class="alert alert-{{type}} alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<h5>
										<i class="icon fas fa-check"></i>Succès</h5>
									{% for message in messages %}
										{{ message }}
									{% endfor %}
								</div>
							{% endfor %}


							{{ form_start(form) }}
							<div class="row mb-3">
								<div class="col-lg-12">
									{{ form_row(form.name) }}
								</div>
								<div class="col-lg-12">
									<input type="submit" value="Ajouter" class="btn w-25 btn-outline-info float-right">
								</div>
							</div>
							{{ form_end(form) }}

							<table id="example1" class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>ID</th>
										<th>Intitulés des unités d'enseignement</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody>
									{% for teachinUnit in teachingUnits %}
										<tr>
											<td>{{ teachinUnit.id }}</td>
											<td>{{ teachinUnit.name }}</td>
											<td>
												<div class="btn-group">

													<button class="btn btn-success" onclick="document.location = '#'">
														<span>Modifier |&nbsp;</span>
														<i class="fas fa-edit" aria-hidden="true"></i>
													</button>

													<button class="btn btn-danger" onclick="document.location = '#'">
														<span>Supprimer |&nbsp;</span>
														<i class="fas fa-trash" aria-hidden="true"></i>
													</button>

												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>Intitulés des unités d'enseignement</th>
										<th>Options</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

				</div>
			</section>


		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
