{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Liste des formations pour les étudiants
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Liste des formations pour les étudiants</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card card-info {% if not openCard %}collapsed-card{% endif %}">
								<div class="card-header">
									<h3 class="card-title font-weight-bold">Ajouter une nouvelle formation - ici -</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse">
											<i class="fas {% if not openCard %}fa-plus{% else %}fa-minus{% endif %}"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									{{ form_start(form) }}
									<div class="row">
										<div class="col-lg-12">{{ form_widget(form) }}</div>
										<div class="col-lg-3 offset-9">
											<button type="submit" class="btn float-right btn-block btn-outline-info">Ajouter</button>
										</div>
									</div>
									{{ form_end(form) }}
								</div>
							</div>

						</div>

						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">Liste des formations pour les étudiants :
									</h3>
								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped table-sm text-center">

										<thead>
											<tr>
												<th>Faculté</th>
												<th>Semestre</th>
												<th>Proffesseur</th>
												<th>UE</th>
												<th>Matière</th>
												<th>Mois</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											{% for taugth in taugths %}
												<tr>
													<td>{{ taugth.faculty }}</td>
													<td>{{ taugth.semester }}</td>
													<td>{{ taugth.teacherInformation }}</td>
													<td>
														<span class="badge badge-default">{{ taugth.course.teachingUnit }}</span>
													</td>
													<td>
														<span class="badge badge-success">{{ taugth.course }}</span>
													</td>
													<td>
														<span class="badge badge-danger font-weight-bold">{{ taugth.month }}</span>
													</td>

													<td>
														<div class="btn-group">

															<button class="btn btn-success" onclick="document.location = '#'">
																<span>Modifier |&nbsp;</span>
																<i class="fas fa-edit" aria-hidden="true"></i>
															</button>

															<button class="btn btn-danger" onclick="document.location = '#'">
																<span>Supprimer |&nbsp;</span>
																<i class="fas fa-trash" aria-hidden="true"></i>
															</button>

														</div>
													</td>

												</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<th>Faculté</th>
												<th>Semestre</th>
												<th>Proffesseur</th>
												<th>UE</th>
												<th>Matière</th>
												<th>Mois</th>
												<th>Options</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
