{% extends "school_manager/sm.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Classification des paiments ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('school_manager/layouts/nav-bar.html.twig') }}
		{{ include('school_manager/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Classifiez les paiements selon ces options</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Gestionnaire d'écolage</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "school_manager/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Recherchez tous les paiements que vous avez validé selon une date précise, ou .....</h3>
								</div>
								<div class="card-body">


									{{ form_start(form) }}
									<div class="row mb-3">
										<div class="col-lg-4">{{ form_row(form.reason) }}</div>
										<div class="col-lg-4">{{ form_row(form.state) }}</div>
										<div class="col-lg-4">{{ form_row(form.decision) }}</div>
										<div class="col-lg-6">{{ form_row(form.validatedAt) }}</div>
										<div class="col-lg-6">{{ form_row(form.type) }}</div>
										<div class="col-lg-12">
											<input type="submit" value="Ajouter" class="btn w-25 btn-outline-info float-right">
										</div>
									</div>
									{{ form_end(form) }}

									<table id="example1" class="table table-bordered table-striped table-sm">
										<thead>
											<tr>
												<th>Matricule</th>
												<th>Nom complet</th>
												<th>E-mail</th>
												<th>Date d'insertion</th>
												<th>Montant</th>
												<th>Référence</th>
												<th>Observation</th>
												<th>Date de validation</th>
												<th>Motif</th>
												<th>État</th>
												<th>Décision</th>
											</tr>
										</thead>
										<tbody>

											{% for payment in payments %}
												{% set studentInformation = payment.student %}
												{% set user = getUser(studentInformation) %}
												<tr>
													<td>{{ studentInformation.matriculeNumber }}</td>
													<td>{{ user.fullName }}</td>

													<td>{{ user.email }}</td>
													<td>{{ payment.doneAt | date('d-m-Y h:m:s') }}</td>
													<td>{{ payment.amount }}</td>
													<td>{{ payment.referenceMobileMoney }}</td>
													<td>{{ payment.observation }}</td>
													<td>
														<span class="badge badge-default">{{ payment.validatedAt | date('d-m-Y h:m:s') }}</span>
													</td>
													<td>
														<span class="badge badge-info">{{ getReason(payment.reason) }}</span>
													</td>
													<td>
														{% if payment.state == "read" %}
															<span class="badge badge-success">Lu</span>
														{% endif %}
														{% if payment.state == "unread" %}
															<span class="badge badge-danger">Non lu</span>
														{% endif %}
													</td>
													<td>
														{% if payment.decision == "taken" %}
															<span class="badge badge-success">Prise</span>
														{% endif %}
														{% if payment.decision == "not taken" %}
															<span class="badge badge-danger">Non prise</span>
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<th>Matricule</th>
												<th>Nom complet</th>
												<th>E-mail</th>
												<th>Date d'insertion</th>
												<th>Montant</th>
												<th>Référence</th>
												<th>Observation</th>
												<th>Date de validation</th>
												<th>Motif</th>
												<th>État</th>
												<th>Décision</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div></div>{{ include('school_manager/layouts/footer.html.twig') }}{% endblock %}
