{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style>
		.modal-dialog {
			height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
		}
		.modal-content,
		iframe {

			height: 100%; /* = 100% of the .modal-dialog block */
		}
	</style>

{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Gestion des pages</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="{{ path('app_admin_page_add') }}">Ajouter une nouvelle page</a>
										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					{% for type,messages in app.flashes %}
						<div class="alert alert-{{type}} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i>Succès</h5>
							{% for message in messages %}
								{{ message }}
							</div>
						{% endfor %}

					</div>
				{% endfor %}

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Liste de touts les pages</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped table-sm">
							<thead>
								<tr>
									<th>Ordre dans le menu</th>
									<th>Nom du lien</th>
									<th>Titre</th>
									<th>URL</th>
									<th>Description</th>
									<th>Sous-Menu</th>
									<th>Active?</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								{% for page in pages %}
									{% if not ( page.iepages | length )%}
										<tr>
											<td>{{ page.menuOrder }}</td>
											<td>{{ page.linkText }}</td>
											<td>{{ page.title }}</td>
											<td>{{ page.slug | u.truncate(30, '...') }}</td>
											<td>{{ page.description | u.truncate(30, '...') }}</td>

											<td>
												{% if page.pages | length %}
													{% for sousMenu in page.pages %}
														-
														<a href="{{ path('app_admin_page_view',{id:sousMenu.id}) }}">{{ sousMenu.title }}</a>
														<hr/>
													{% endfor %}
												{% else %}
													<span>-</span>
												{% endif %}

											</td>
											<td>
												<form id="form-active-{{ page.id }}" action="{{ path('app_admin_page_toggle', { id: page.id }) }}" method="POST">

													<div class="form-group{{ page.id }}">
														<div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
															<input type="checkbox" onchange="document.getElementById('form-active-{{ page.id }}').submit()" {{ page.isActive ? "checked" : "" }} class="custom-control-input" id="customSwitch{{ page.id }}">
															<label class="custom-control-label" for="customSwitch{{ page.id }}">{{ page.isActive ? "oui" : "non" }}</label>

														</div>
													</div>

												</form>
											</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-primary btn-sm" onclick="document.location = '{{ path('app_admin_page_view',{id:page.id}) }}'">
														<i class="fas fa-info-circle"></i>
													</button>

													<button class="btn btn-success btn-sm" onclick="document.location = '{{ path('app_admin_page_edit',{id:page.id}) }}'">
														<i class="fas fa-edit" aria-hidden="true"></i>
													</button>

													<button class="btn btn-danger btn-sm" onclick="document.location = '{{ path('app_admin_page_delete',{id:page.id}) }}'">
														<i class="fas fa-trash" aria-hidden="true"></i>
													</button>

												</div>
											</td>

										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Ordre dans le menu</th>
									<th>Nom du lien</th>
									<th>Titre</th>
									<th>URL</th>
									<th>Description</th>
									<th>Sous-Menu</th>
									<th>Active?</th>
									<th>Options</th>

								</tr>
							</tfoot>
						</table>
					</div>
				</div>

			</div>
		</section>


	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
