{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style>
		.modal-dialog {
			height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
		}
		.modal-content,
		iframe {

			height: 100%; /* = 100% of the .modal-dialog block */
		}
	</style>

{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Gestion des pages</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="">Ajouter une nouvelle page</a>
										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i>Succès</h5>
							{{ message }}
						</div>
					{% endfor %}

					<div class="col-lg-12">
						<div class="callout callout-info">
							<h5>
								<i class="fas fa-info"></i>
								Visualisation:</h5>
							{{iePage.title}}
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="card card-primary card-outline">
									<div class="card-body">
										<div class="text-center text-success">
											<p>{{ iePage.title }}</p>
										</div>

										<h5 class="text-center">(URL :
											{{ iePage.slug ? iePage.slug : '-' }})</h5>

										<p class="text-muted text-center">{{ iePage.isActive ? 'activé' : 'désactivé' }}</p>
										<hr/>
										<h5>Description</h5>
										<h6>{{ iePage.description }}</h6>
										<a href="{{ path('app_admin_page_edit', {id:iePage.id}) }}" class="btn btn-primary btn-block">
											<b>Modifer</b>
										</a>
									</div>
								</div>

								<div class="card card-primary card-outline">
									<div class="card-body">
										<div class="text-center text-success">
											<h4>Sous-Menu</h4>
										</div>

										{% if iePage.pages | length %}
											<ul class="list-group list-group-unbordered mb-3">
												{% for page in iePage.pages %}
													<li class="list-group-item">
														-
														<a class="text-danger cursor-pointer">{{page.title}}</a>
													</li>
												{% endfor %}
											</ul>
										{% else %}
											Aucun
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="card card-primary">
									<div class="card-header">
										<div class="text-center">
											<h4>Aperçu de la vue "{{ iePage.view }}"</h4>
										</div>
									</div>
									<div class="card-body">
										<div>
											{% if not noView %}
												<iframe style="height:90vh" src="/{{ iePage.slug }}" title="description" class="col-12"></iframe>
											{% else %}
												<iframe style="height:90vh" src="{{ path('app_admin_page_render_iframe', { view: 'page/no-view.html' }) }}" title="description" class="col-12"></iframe>

											{% endif %}

										</div>

									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</section>


		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}

	{% block javascripts %}{% endblock %}
{% endblock %}
