<aside class="main-sidebar sidebar-dark-info elevation-4">
	<a href="{{ path('app_admin_home') }}" class="brand-link">
		<img src="{{ asset('assets/images/logo.png') | imagine_filter('BO_LOGO_GCI') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 bg-white" style="opacity: .8">
		<span class="brand-text font-weight-light">iiap Éducation</span>
	</a>

	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				{% if app.user.avatar is defined and app.user.avatar is not empty %}
					<img src="{{ vich_uploader_asset(app.user) | imagine_filter('BO_LOGO_GCI') }}" class="img-circle elevation-2" alt="User Image">

				{% else %}
					<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
				{% endif %}
			</div>
			<div class="info">
				<a href="#" class="d-block">{{ app.user.fullName | u.truncate(25,'...') }}</a>
			</div>
		</div>
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Recherche ..." aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item menu-open">
					<a href="#" class="nav-link active">
						<p>
							<i class="fas fa-bars"></i>
							&nbsp;	Menu
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>


					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="{{ path('app_admin_user_student_registration_request') }}" class="nav-link {% if activeMenu == " inscription" %}active{% endif %}">
								<i class="nav-icon fas fa-user-graduate"></i>
								<p>
									Inscription
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_admin_user_show') }}" class="nav-link {% if activeMenu == " étudiant" %}active{% endif %}">
								<i class="nav-icon fas fa-user"></i>
								<p>
									Étudiant
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_admin_timetable') }}" class="nav-link {% if activeMenu == " timetable" %}active{% endif %}">
								<i class="nav-icon fas fa-calendar"></i>
								<p>
									Emploi du temps
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('app_admin_user_payment_status') }}" class="nav-link {% if activeMenu == " status-de-paiment" %}active{% endif %}">
								<i class="nav-icon fas fa-money-check"></i>
								<p>
									Status de paiment
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-id-badge"></i>
								<p>
									Admission
								</p>
							</a>
						</li>

						<li class="nav-item {% if activeMenu in [' teaching-unit', ' list', ' teaching-course'] %}menu-open{% endif %}">
							<a href="#" class="nav-link {% if activeMenu in [' teaching-unit', ' list', ' teaching-course'] %}active{% endif %}">
								<i class="nav-icon fas fa-receipt"></i>
								<p>
									Cours
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ path('app_admin_course_teaching_unit') }}" class="nav-link {% if activeMenu == " teaching-unit" %}active{% endif %}">
										<i class="nav-icon fas fa-atom"></i>
										<p>Unité d'enseignement</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_admin_course_list') }}" class="nav-link {% if activeMenu == " list" %}active{% endif %}">
										<i class="nav-icon fas fa-book-open"></i>
										<p>Liste des matières</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_admin_course_teaching_course') }}" class="nav-link {% if activeMenu == " teaching-course" %}active{% endif %}">
										<i class="nav-icon fas fa-book-medical"></i>
										<p>Ajout des formations</p>
									</a>
								</li>
							</ul>

						</li>

						<li class="nav-item {% if activeMenu in [' examen-add'] %}menu-open{% endif %}">
							<a href="#" class="nav-link {% if activeMenu in [' examen-add'] %}active{% endif %}">
								<i class="nav-icon fas fa-menorah"></i>
								<p>
									Examen
									<i class="fas fa-angle-left right"></i>

								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ path('app_admin_examen_add') }}" class="nav-link {% if activeMenu == " examen-add" %}active{% endif %}">
										<i class="nav-icon fas fa-folder-plus"></i>
										<p>Ajout examen</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-book-reader"></i>
										<p>Résultat et Note</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-th-list"></i>
										<p>Liste repéchage</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-plus-square"></i>
										<p>Insértion examen spécifique</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-certificate"></i>
										<p>relevés des notes</p>
									</a>
								</li>
							</ul>


						</li>

						<li class="nav-item">
							<a href="{{ path('app_admin_user_status') }}" class="nav-link {% if activeMenu == " status" %}active{% endif %}">
								<i class="nav-icon fas fa-users"></i>
								<p>
									Status des Étudiants
								</p>
							</a>

						</li>

						<li class="nav-item {% if activeMenu in [' page-active', ' page-add', ' page-list', ' page-edit'] %}menu-open{% endif %}">
							<a href="#" class="nav-link {% if activeMenu in [' page-active', ' page-add', ' page-list', ' page-edit'] %}active{% endif %}">
								<i class="nav-icon fas fa-pager"></i>
								<p>
									Page
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ path('app_admin_page') }}" class="nav-link {% if activeMenu == " page-list" %}active{% endif %}">
										&nbsp;&nbsp;&nbsp;
										<i class="fas fa-list"></i>
										<p>Liste des pages</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_admin_page_on') }}" class="nav-link {% if activeMenu == " page-active" %}active{% endif %}">

										&nbsp;&nbsp;&nbsp;
										<i class="fas fa-check-square"></i>
										<p>Les pages actives</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_admin_page_add') }}" class="nav-link {% if activeMenu == " page-add" %}active{% endif %}">

										&nbsp;&nbsp;&nbsp;
										<i class="fas fa-plus-square"></i>
										<p>Ajouter une nouvelle
										</p>
									</a>
								</li>
							</ul>

						</li>

					</ul>
				</li>


			</li>
		</li>
	</ul>
</nav></div></aside>
