<nav
	class="main-header navbar navbar-expand navbar-white navbar-light">
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="{{ path('app_home') }}" class="nav-link">Voir la page d'accueil</a>
		</li>

	</ul>

	<!-- Right navbar links -->
	<ul
		class="navbar-nav ml-auto">

		<!-- Messages Dropdown Menu -->
		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
				<i class="fas fa-calendar-plus"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				<span class="dropdown-item dropdown-header">Date d'entrée</span>
				<div class="dropdown-divider"></div>
				<a href="{{ path('app_admin_vague') }}" class="dropdown-item">
					<i class="fas fa-table mr-2"></i>
					Voir la liste des vagues
				</a>
			</div>

		</li>

		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
				<i class="far fa-envelope"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				<span class="dropdown-item dropdown-header">Messages</span>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item">
					<i class="fas fa-envelope mr-2"></i>
					Message Texte
				</a>
				<div class="dropdown-divider"></div>
				<a href="{{ path('app_admin_message_video_chat') }}" class="dropdown-item">
					<i class="fas fa-video mr-2"></i>
					Appel Video
				</a>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
				<i class="fas fa-expand-arrows-alt"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
				<i class="fas fa-cog"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_logout') }}" role="button">
				<i class="fas fa-power-off"></i>
			</a>
		</li>
	</ul>
</nav>
