<nav class="main-header navbar navbar-expand navbar-white navbar-dark bg-info" style="border-bottom: 0px !important;">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="{{ path('app_home') }}" class="nav-link">Voir la page d'accueil "iiap éducation"</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto">
		{% if not disableAllMenu %}
			<li class="nav-item dropdown">
				<a class="nav-link" href="{{ path('app_student_help') }}">
					<i class="far fa-question-circle"></i>
				</a>
			</li>
		{% endif %}
		<li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
				<i class="fas fa-expand-arrows-alt"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_logout') }}" role="button">
				<i class="fas fa-power-off"></i>
			</a>
		</li>
	</ul>
</nav>
