{% extends "student/st.html.twig" %}

{% block title %}
	Paiement d'écolage ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}
		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-uppercase">Paiement d'écolage</h1>
						</div>
					</div>

				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						{% if warnFirstMonthlyFee %}
							<div class="col-lg-12">
								<div class="callout callout-warning">
									<h5>
										<i class="fas fa-info"></i>
										Note:</h5>
									<span class="text-uppercase text-bold">
										Les cours ne seront pas disponibles tant que vous ne payez pas votre première mensualité
									</span>
								</div>

							</div>

						{% endif %}

						{% for type,messages in app.flashes %}
							<div class="col-lg-12">
								<div class="alert alert-{{type}} alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<h5>
										<i class="icon fas fa-info"></i>Information</h5>
									{% for message in messages %}
										{{ message }}
									{% endfor %}
								</div>
							</div>
						{% endfor %}


						<div class="col-lg-6">
							<div class="row">
								<h5 class="col-lg-12 text-info mb-4">CHOISISSEZ VOTRE MOYEN DE PAIEMENT :</h5>
								<button id="mvolacash" class="col-lg-10 offset-1 my-2 btn btn-warning text-light hvr-bounce-in align-items-center">
									Payer via Mvola
								</button>
								<button id="cash" class="col-lg-10 offset-1 my-2 btn btn-danger hvr-bounce-in align-items-center">
									Versement En Espece à la banque
								</button>
								<button id="cheque" class="col-lg-10 offset-1 my-2 btn btn-primary text-light hvr-bounce-in align-items-center">
									Payer Par cheque
								</button>
								<button id="virement" class="col-lg-10 offset-1 my-2 btn btn-success hvr-bounce-in align-items-center">
									Payer Par Virement Bancaire
								</button>
								<button id="western" class="col-lg-10 offset-1 my-2 btn btn-dark text-warning font-weight-bold hvr-bounce-in align-items-center" data-toggle="modal" data-target="#Modal">
									Western Union
								</button>
								<button id="MoneyGram" class="col-lg-10 offset-1 my-2 btn btn-info hvr-bounce-in align-items-center">
									Payer Par MoneyGram
								</button>
								<h5 class="col-lg-12 text-info mb-4 mt-4">NUMERO DU COMPTE POUR CHAQUE MODE DE PAIEMENT :</h5>
								<dl class="text-center col-lg-12">
									<dt>MVOLA</dt>
									<dd>034 30 103 07 Au nom d'iiap</dd>
									<dt>VERSEMENT EN ESPECE A LA BANQUE,CHEQUE,VIREMENT BANCAIRE</dt>
									<dd>Compte SG MADAGASCAR - ANTANANARIVO - AMBANIDIA
										<br>00008 - 00019 - 04506001603 39</dd>
									<dd>ou au</dd>
									<dd>Compte BNI au Nom de: Groupe iiap éducation
										<br>
										Code : 00005 - code guichet : 00065 - compte numero : 72115220001 - clé RIB : 45</dd>
								</dl>
								<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title text-primary text-center" id="exampleModalLabel">PAIEMENT VIA WESTERN UNION</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">
												<h5 align="center">Pour effectuer le paiement par Western Union veuillez nous contacter directement sur :</h5>
												<br>
												<div class="d-flex">
													<i class="fas fa-envelope"></i>
													<h6 style="margin-left: 10px;">servicefinance@iiap.mg</h6>
												</div>
												<div class="d-flex">
													<i class="fas fa-phone"></i>
													<h6 style="margin-left: 10px;">034 30 103 07</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<label class="font-weight-bolder fa-2x">Motifs</label>

							<div class="callout callout-info">
								<h5 class="">Ecolage (200000 ARIARY ~ 1 mois)
									<small>
										(seulement via MVola)</small>
								</h5>

								<p>Total montant :
									<b>
										<u class="totalMontant">200.000</u>
									</b>
									Ar</p>

							</div>


							{{ form_start(payementForm) }}
							{{ form_widget(payementForm) }}
							<input type="submit" value="Valider" class="btn btn-success float-right col-lg-3">
							{{ form_end(payementForm) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}


<script>

	$('.pt_numberMonth').on('change', function () {
$('.totalMontant').text(numberWithDot(parseInt($('.pt_numberMonth').val()) * 200000))

})

function numberWithDot(x) {
return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}
</script>{% endblock %}
