{% extends "student/st.html.twig" %}

{% block title %}
	Paiement
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 font-italic">
							<h1>Paiment</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<h5 class="text-info font-italic mb-3">Statistique de votre paiment validé par le gestionnaire de scolarité</h5>
							<table class="table table-bordered text-center">
								<thead>
									<tr>
										<th>Droit d'inscription</th>
										<th>Écolage</th>
										<th>Droit d'examen</th>
										<th>Droit de soutenance</th>
										<th>Certificat</th>
									</tr>
								</thead>
								<tbody>
									{% set student = user.studentInformation %}
									<tr>
										<td>{{ student.registrationFee ? '<span class="badge badge-success">payé</span>' : '<span class="badge badge-danger">non-payé</span>' }}</td>
										<td>
											{{  getProgressbarMonthlyFees(student.monthlyFees,student.level) | raw }}
										</td>
										<td>{{ student.examinationFees ? '<span class="badge badge-success">payé</span>' : '<span class="badge badge-danger">non-payé</span>' }}</td>
										<td>{{ student.defenseFee ? '<span class="badge badge-success">payé</span>' : '<span class="badge badge-danger">non-payé</span>' }}</td>
										<td>{{ student.certificateFee ? '<span class="badge badge-success">payé</span>' : '<span class="badge badge-danger">non-payé</span>' }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-6">
							<h5 class="text-info font-italic">Faire un paiment ?</h5>
							<div class="input-group mb-3">
								<select id="paymentType" class="form-control" placeholder="Quel type de paiment" aria-describedby="basic-addon2">
									<option value="registrationFee">Frais d'inscirption</option>
									<option value="monthlyFees">Écolage</option>
									<option value="examinationFees">Droit d'examen</option>
									<option value="defenseFee">Droit de soutenance</option>
									<option value="certificateFee">Certificat</option>
								</select>
								<div class="input-group-append">
									<button class="btn btn-success" type="button" id="acceder">Acceder</button>
								</div>
							</div>
							<h5 class="text-info font-italic">Plusieurs moyens de paiment</h5>
							<div class="row">
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/mvola.png') }}" alt="mvola"/>
										</div>
										<div class="card-footer text-warning font-italic">via MVola</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/money-check.svg') }}" alt="cheque"/>
										</div>
										<div class="card-footer text-primary font-italic">par cheque</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/money-bill.svg') }}" alt="espece"/>
										</div>
										<div class="card-footer text-danger font-italic">par espece</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/arrow-right.svg') }}" alt="Virement"/>
										</div>
										<div class="card-footer text-success font-italic">Virement</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/WesternUnion.png') }}" alt="Virement"/>
										</div>
										<div class="card-footer text-danger font-italic">West. Uni.</div>

									</div>
								</div>
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/MoneyGram.jpg') }}" alt="Virement"/>
										</div>
										<div class="card-footer text-danger font-italic">MoneyGram</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<img class="justify-content-center img-fluid" src="{{ asset('assets/images/test.jpg') }}"/>
						</div>
						<div class="col-lg-12 mb-3">
							<div class="d-flex" style="color: red;">
								<h6>PS
								</h6>
								<h6>: Pour le paiement par Western Union veuillez nous contacter directement sur
									<span style="color: black">servicefinance@iiap.mg</span>
									ou au
									<span style="color: black">034 30 103 07</span>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}

<script>
	var pathRedirect_registrationFee = "{{ path('app_payment_user_registration_fee') }}";
var pathRedirect_MonthlyFee = "{{ path('app_payment_monthly_fee') }}";
var pathRedirect_ExaminationFee = "{{ path('app_payment_examination_fee') }}";
var pathRedirect_DefenseFee = "{{ path('app_payment_defense_fee') }}";
var pathRedirect_CertificateFee = "{{ path('app_payment_Certificate_fee') }}";
$('#acceder').click(function () {
switch ($('#paymentType').val()) {
case "registrationFee":
document.location = pathRedirect_registrationFee
break;
case "monthlyFees":
document.location = pathRedirect_MonthlyFee
break;
case "examinationFees":
document.location = pathRedirect_ExaminationFee
break;
case "defenseFee":
document.location = pathRedirect_DefenseFee
break;
case "certificateFee":
document.location = pathRedirect_CertificateFee
break;
default:
break;
}
})
</script>{% endblock %}
