{% extends "admin/bo.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Examen</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="#">Ajouter une nouvelle examen</a>
										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Liste de touts les examens</h3>
						</div>
						<div class="card-body">

							{% for type,messages in app.flashes %}
								<div class="alert alert-{{type}} alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<h5>
										<i class="icon fas fa-check"></i>Succès</h5>
									{% for message in messages %}
										{{ message }}
									{% endfor %}
								</div>
							{% endfor %}


							{{ form_start(form) }}
							<div class="row mb-3">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-6">
											{{ form_row(form.course) }}
										</div>
										<div class="col-lg-6">
											{{ form_row(form.session) }}
										</div>
										<div class="col-lg-6">
											{{ form_row(form.type) }}
										</div>
										<div class="col-lg-6">
											{{ form_row(form.duration) }}
										</div>
										<div class="col-lg-12">
											{{ form_rest(form) }}
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<input type="submit" value="Ajouter" class="btn w-25 btn-outline-info float-right">
								</div>
							</div>
							{{ form_end(form) }}

							<hr/>

							<h4 class='text-info mb-3 text-uppercase'>Liste des examens</h4>

							<table id="example1" class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>Course</th>
										<th>Session</th>
										<th>Type</th>
										<th>Durée</th>
										<th>Question</th>
										<th>Fichier</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody>
									{% for exam in exams %}
										<tr>
											<td>
												<span class="badge badge-info">{{ exam.course }}</span>
											</td>
											<td>{{ exam.session }}</td>
											<td>{{ exam.type }}</td>
											<td>{{ exam.duration }}</td>
											<td>
												<i class="font-weight-bold">{{ exam.question | raw }}</i>
											</td>
											<td>{{ exam.file }}</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-success" onclick="document.location = '#'">
														<i class="fas fa-edit" aria-hidden="true"></i>
													</button>

													<button class="btn btn-danger" onclick="document.location = '#'">
														<i class="fas fa-trash" aria-hidden="true"></i>
													</button>

												</div>
											</td>

										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Course</th>
										<th>Session</th>
										<th>Type</th>
										<th>Durée</th>
										<th>Question</th>
										<th>Fichier</th>
										<th>Options</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

				</div>
			</section>


		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}

{% block javascripts %}

	<script>
		const imageFileClass = document.querySelector('.imageFileClass');
imageFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[0].textContent = event.target.value.split("\\").pop();
}, false);
	</script>
{% endblock %}
